{
  "appId": "com.example.myapp",
  "productName": "My App",
  "directories": {
    "buildResources": "assets"
  },
  "files": ["src/**/*", "assets/**/*"],
  "win": {
    "icon": "assets/favicon.ico",
    "target": ["nsis", "portable"]
  },
  "linux": {
    "icon": "assets/icon.png",
    "target": ["AppImage", "deb"],
    "category": "Utility"
  },
  "mac": {
    "icon": "assets/icon.icns",
    "target": ["dmg", "zip"],
    "category": "public.app-category.utilities"
  }
}
